.regal-solo {
	margin-top: 0.3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	/* height: 108px;

	width: 76px; */
}

p {
	color: #fff;
	margin-top: 0.3em;
	margin-bottom: 0;
}
