.overlap-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: linear-gradient(
		180deg,
		rgb(161, 237, 111) 0%,
		rgb(164, 167, 246) 100%
	);
	background-color: rgba(255, 255, 255, 1);
	height: 711px;
	width: 1536px;
}

.overlap {
	height: 674px;
	left: 34px;
	position: relative;
	top: 18px;
	width: 1468px;
}

.app-body {
	-webkit-backdrop-filter: blur(142.67px) brightness(100%);
	backdrop-filter: blur(142.67px) brightness(100%);
	background-color: #ffffff80;
	border-radius: 16px;
	box-shadow: inset -14.27px 14.27px 14.27px #ffffff66,
		inset 14.27px -14.27px 14.27px #d6d6d666;
	height: 672px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 1468px;
}

.comp-nav {
	height: 83px;
	left: 102px;
	opacity: 0.8;
	position: absolute;
	top: 38px;
	width: 1323px;
}

.comp-nav-line {
	height: 1px;
	left: 3px;
	object-fit: cover;
	position: absolute;
	top: 82px;
	width: 1318px;
}

.comp-nav-title {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 24px;
	font-weight: 700;
	left: 0;
	letter-spacing: 1.68px;
	line-height: normal;
	position: absolute;
	top: 0;
	width: 172px;
}

.comp-nav-anchors {
	height: 23px;
	left: 0;
	position: absolute;
	top: 48px;
	width: 496px;
}

.text-wrapper {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;
	left: 0;
	letter-spacing: 0.8px;
	line-height: normal;
	position: absolute;
	top: 1px;
	width: 80px;
}

.div {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;
	left: 108px;
	letter-spacing: 0.8px;
	line-height: normal;
	position: absolute;
	top: 1px;
	width: 108px;
}

.overlap-group {
	height: 23px;
	left: 252px;
	position: absolute;
	top: 0;
	width: 236px;
}

.text-wrapper-2 {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;
	left: 0;
	letter-spacing: 0.8px;
	line-height: normal;
	position: absolute;
	top: 1px;
	width: 108px;
}

.text-wrapper-3 {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;
	left: 100px;
	letter-spacing: 0.8px;
	line-height: normal;
	position: absolute;
	top: 0;
	width: 136px;
}

.comp-nav-elements {
	height: 49px;
	left: 724px;
	position: absolute;
	top: 1px;
	width: 597px;
}

.comp-nav-searchbar {
	background-color: #ffffff99;
	border-radius: 75px;
	height: 45px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 341px;
}

.comp-nav-option {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;
	left: 373px;
	position: absolute;
	top: 4px;
	width: 40px;
}

.comp-nav-option-2 {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;
	left: 425px;
	position: absolute;
	top: 4px;
	width: 40px;
}

.comp-nav-option-3 {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;
	left: 477px;
	position: absolute;
	top: 4px;
	width: 40px;
}

.profile-pic {
	background-color: #ffffff99;
	border-radius: 24.5px;
	height: 49px;
	left: 548px;
	position: absolute;
	top: 0;
	width: 49px;
}

.sub-title {
	height: 41px;
	left: 105px;
	position: absolute;
	top: 152px;
	width: 1320px;
}

.sub-title-text {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 24px;
	font-weight: 700;
	height: 40px;
	left: 0;
	letter-spacing: 1.68px;
	line-height: normal;
	position: absolute;
	top: 1px;
	width: 172px;
}

.sub-btn {
	background-color: #fefefe99;
	border: 1px solid;
	border-color: #656565;
	border-radius: 14px;
	height: 37px;
	left: 1065px;
	position: absolute;
	top: 0;
	width: 120px;
}

.sub-btn-2 {
	background-color: #fefefe99;
	border: 1px solid;
	border-color: #656565;
	border-radius: 14px;
	height: 37px;
	left: 1198px;
	position: absolute;
	top: 0;
	width: 120px;
}



.isle {
	background-color: #000000;
	border-radius: 8px;
	height: 168px;
	left: 105px;
	opacity: 0.8;
	position: absolute;
	top: 217px;
	width: 421px;
}

.isle-solo {
	height: 141px;
	left: 33px;
	position: relative;
	top: 16px;
	width: 356px;
}

.isle-c-group {
	height: 141px;
	left: 166px;
	position: absolute;
	top: 0;
	width: 26px;
}

.div-2 {
	background-color: #d9d9d9;
	border-radius: 8px;
	height: 108px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.text-wrapper-4 {
	color: #ffffff;
	font-family: "Roboto", Helvetica;
	font-size: 24px;
	font-weight: 300;
	height: 24px;
	left: 2px;
	letter-spacing: 1.68px;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 117px;
	white-space: nowrap;
	width: 19px;
}

.isle-b-group {
	height: 141px;
	left: 249px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-a-group {
	height: 141px;
	left: 332px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-a {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 108px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.isle-d-group {
	height: 141px;
	left: 83px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-e-group {
	height: 141px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px;
}

.box-sector {
	background-color: #ffffff66;
	border-radius: 8px;
	height: 221px;
	left: 730px;
	position: absolute;
	top: 425px;
	width: 692px;
}

.box-element {
	height: 40px;
	left: 22px;
	position: relative;
	top: 21px;
	width: 650px;
}

.overlap-group-2 {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 40px;
	position: relative;
	width: 648px;
}

.p {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 500;
	height: 24px;
	left: 26px;
	letter-spacing: 1.12px;
	line-height: normal;
	position: absolute;
	top: 8px;
	width: 384px;
}

.iconly-bold-edit {
	height: 20px;
	left: 555px;
	position: absolute;
	top: 10px;
	width: 20px;
}

.iconly-bold-delete {
	height: 22px;
	left: 607px;
	position: absolute;
	top: 9px;
	width: 20px;
}

.table-comp {
	background-color: #ffffff66;
	border-radius: 8px;
	height: 221px;
	left: 107px;
	position: absolute;
	top: 425px;
	width: 597px;
}

.table-upper {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 40px;
}



