.overlap-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		180deg,
		rgb(161, 237, 111) 0%,
		rgb(164, 167, 246) 100%
	);
	background-color: rgba(255, 255, 255, 1);
	height: 711px;
	width: 1536px;
}

.overlap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 674px;

	width: 1468px;
}

.app-body {
	

	-webkit-backdrop-filter: blur(142.67px) brightness(100%);
	backdrop-filter: blur(142.67px) brightness(100%);
	background-color: #ffffff80;
	border-radius: 16px;
	box-shadow: inset -14.27px 14.27px 14.27px #ffffff66,
		inset 14.27px -14.27px 14.27px #d6d6d666;
	height: 672px;

	width: 1468px;
}

.storage-app-body{
	display: grid;
	grid-template-rows: 1fr 4fr;
	grid-template-columns: 0.25fr 4fr;
	height: 672px;

	width: 1468px;
}



.regal {
	grid-row:auto;
	grid-column: auto;
	
}

.comp-nav {
	margin-left: 1.1em;
	margin-top: 1em;
	grid-row: 1/2;
	grid-column: 2/3;
	
	gap: 1em 1em;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	height: 83px;

	opacity: 0.8;

	width: 1323px;
}

.comp-nav-line {
	grid-row: 4/5;
	grid-column: 1/4;
	height: 1px;

	object-fit: cover;

	width: 1318px;
}

.comp-nav-title {
	grid-row: 2/3;
	grid-column: 1/2;
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 24px;
	font-weight: 700;

	letter-spacing: 1.68px;
	line-height: normal;

	width: 172px;
}

.comp-nav-anchors {
	grid-column: 1/3;
	grid-row: 3/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 23px;

	width: 496px;
}

.text-wrapper {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;

	letter-spacing: 0.8px;
	line-height: normal;

	width: 80px;
}

.div_text {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;

	letter-spacing: 0.8px;
	line-height: normal;

	width: 108px;
}



.text-wrapper-2 {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;

	letter-spacing: 0.8px;
	line-height: normal;

	width: 108px;
}

.text-wrapper-3 {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 700;

	letter-spacing: 0.8px;
	line-height: normal;

	width: 136px;
}

.comp-nav-elements {
	grid-row: 2/3;
	grid-column: 3/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 49px;

	width: 597px;
}

.comp-nav-searchbar {
	background-color: #ffffff99;
	border-radius: 75px;
	height: 45px;

	width: 341px;
}

.comp-nav-option {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;

	width: 40px;
}

.comp-nav-option-2 {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;

	width: 40px;
}

.comp-nav-option-3 {
	background-color: #ffffff99;
	border-radius: 20px;
	height: 40px;

	width: 40px;
}

.profile-pic {
	background-color: #ffffff99;
	border-radius: 24.5px;
	height: 49px;

	width: 49px;
}



.isle {
	background-color: #000000;
	border-radius: 8px;
	height: 168px;
	left: 105px;
	opacity: 0.8;
	position: absolute;
	top: 217px;
	width: 421px;
}

.isle-solo {
	height: 141px;
	left: 33px;
	position: relative;
	top: 16px;
	width: 356px;
}

.isle-c-group {
	height: 141px;
	left: 166px;
	position: absolute;
	top: 0;
	width: 26px;
}

.div-2 {
	background-color: #d9d9d9;
	border-radius: 8px;
	height: 108px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.text-wrapper-4 {
	color: #ffffff;
	font-family: "Roboto", Helvetica;
	font-size: 24px;
	font-weight: 300;
	height: 24px;
	left: 2px;
	letter-spacing: 1.68px;
	line-height: normal;
	position: absolute;
	text-align: center;
	top: 117px;
	white-space: nowrap;
	width: 19px;
}

.isle-b-group {
	height: 141px;
	left: 249px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-a-group {
	height: 141px;
	left: 332px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-a {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 108px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}

.isle-d-group {
	height: 141px;
	left: 83px;
	position: absolute;
	top: 0;
	width: 26px;
}

.isle-e-group {
	height: 141px;
	left: 0;
	position: absolute;
	top: 0;
	width: 26px;
}

.box-sector {
	background-color: #ffffff66;
	border-radius: 8px;
	height: 221px;
	left: 730px;
	position: absolute;
	top: 425px;
	width: 692px;
}

.box-element {
	height: 40px;
	left: 22px;
	position: relative;
	top: 21px;
	width: 650px;
}

.overlap-group-2 {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 40px;
	position: relative;
	width: 648px;
}

.p {
	color: #000000;
	font-family: "Roboto", Helvetica;
	font-size: 16px;
	font-weight: 500;
	height: 24px;
	left: 26px;
	letter-spacing: 1.12px;
	line-height: normal;
	position: absolute;
	top: 8px;
	width: 384px;
}

.iconly-bold-edit {
	height: 20px;
	left: 555px;
	position: absolute;
	top: 10px;
	width: 20px;
}

.iconly-bold-delete {
	height: 22px;
	left: 607px;
	position: absolute;
	top: 9px;
	width: 20px;
}

.table-comp {
	background-color: #ffffff66;
	border-radius: 8px;
	height: 221px;
	left: 107px;
	position: absolute;
	top: 425px;
	width: 597px;
}

.table-upper {
	background-color: #a1ed6f;
	border-radius: 8px;
	height: 40px;
}
