:root {
  --black-color: #000000;
  --green-color: #A1ED6F;
  --purple-color: #A4A7F6;
  --white-color: #FFFFFF;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(180deg, rgb(161, 237, 111) 0%, rgb(164, 167, 246) 100%);
  /* background-color: rgba(255, 255, 255, 1); */
  /* border: 1px none; */
  height: 100vh;
  width: 100vw;
}